<h2>Add Recipe Steps</h2>


<form method="post" asp-action="AddSteps">
    <div id="stepsContainer">
        <div class="form-group">
            <input name="steps" class="form-control" aria-required="true" />
        </div>
    </div>
    <br /><br />
    <button type="button" class="btn btn-outline-primary mb-2 p-2" onclick="addStep()">+</button>
    <br />
    <input class="btn btn-outline-primary mb-2 p-2 fw-bold" type="submit" value="Add Steps" />
</form>

<script>
    function addStep() {
        var container = document.getElementById('stepsContainer');
        var input = document.createElement('input');
        input.name = 'Steps';
        input.className = 'form-control my-2';
        container.appendChild(input);
    }
</script>