<h2>Add Recipe Steps</h2>

<form method="post" asp-action="AddSteps">
    <div id="stepsContainer">
        <div class="form-group">
            <input class="form-control" aria-required="true" />
        </div>
    </div>
    <br /><br />
    <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Post" />
 
</form>