@using RecipeHub.Web.ViewModels.Recipe
@model AddRecipeModel
<hr />

<form asp-controller="Recipe" asp-action="Add" method="post" enctype="multipart/form-data">
    <div>
        <label style="font-size:20px;">Title</label>
        <input asp-for="Title" style="font-size:20px; padding:5px; margin:20px; width:400px;" />
    </div>
    <div style="display:flex; align-items:center; gap:10px;">
        <label class="big-text">Upload Image</label>
        <input asp-for="ImageFile" type="file" style="height:40px; font-size:20px;" />
    </div>

    <button type="submit" style="font-size:16px; padding:8px 15px;">Save</button>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}