@model IEnumerable<string>


<form asp-action="AddCategory" method="post">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
        @foreach (var category in Model)
        {
            <div class="col">
                <label class="category-tile">
                    <input type="checkbox"
                           name="checkedCategories"
                           value="@category"
                           class="category-checkbox" />
                    <span class="category-label">@category</span>
                </label>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary mt-3">Choose</button>
</form>